In [2]:
import pandas as pd
import numpy as np

In [11]:
df_user_activity = pd.read_json(f'../activities.json')
df = pd.read_csv(f'../bbc_small.csv', index_col=0, delimiter=';')
with open('collab_filter_random_features.npy', 'rb') as f:
    numpy_colab_matrix = np.load(f)
df_colab = pd.DataFrame(numpy_colab_matrix)

In [17]:
def extract_user_movie_dict(df_user_activity):
    user_list = df_user_activity.user_id.unique()
    user_movie_dict = {}
    for user_id in user_list:
        user_entries = df_user_activity[df_user_activity['user_id'] == user_id]
        user_movie_dict[user_id - 1] = user_entries.content_id.unique()
    return user_movie_dict
user_movie_dict = extract_user_movie_dict(df_user_activity)

In [6]:
df.head(3)

,index,title,subtitle,description,image,keywords,syno_s,syno_m,syno_l,category,channel,language,release_date,duration_min,topic,image_l,image_xl,cleaned_syno_l,k_means
0,0,BBC Proms,"2021: Last Night of the Proms, Part 2",Australian tenor Stuart Skelton is joined by L...,https://ichef.bbci.co.uk/images/ic/{recipe}/p0...,"BBC, iPlayer, TV, BBC Proms, 2021: Last Night ...",Australian tenor Stuart Skelton is joined by L...,Australian tenor Stuart Skelton is joined by L...,Katie Derham hosts continued live coverage fro...,Music,BBC RADIO THREE,False,2021,87,music,https://ichef.bbci.co.uk/images/ic/352x198/p09...,https://ichef.bbci.co.uk/images/ic/1200x675/p0...,katie derham host continued live coverage roya...,19
1,1,Port,Series 5: Episode 4,"Previously unseen music from the series Port, ...",https://ichef.bbci.co.uk/images/ic/{recipe}/p0...,"BBC, iPlayer, TV, Port, Series 5: Episode 4","Previously unseen music from the series Port, ...",Julie Fowlis a’ lìbhrigeadh ceòl bhon t-sreath...,Bidh Druthag Bheag Eile a’ tarraing ri chèile ...,Music,BBC ALBA,False,2020,17,music,https://ichef.bbci.co.uk/images/ic/352x198/p08...,https://ichef.bbci.co.uk/images/ic/1200x675/p0...,bidh druthag bheag eile ’ tarraing ri chèile p...,6
2,2,"Sit Down, Stand Up with Greg James",None,Tom Holland and Greg James cold call celebrity...,https://ichef.bbci.co.uk/images/ic/{recipe}/p0...,"BBC, iPlayer, TV, Sit Down, Stand Up with Greg...",Tom Holland and Greg James cold call celebrity...,Tom Holland and Greg James cold call celebrity...,Tom Holland and Greg James cold call celebrity...,Entertainment,BBC RADIO ONE,False,2022,10,"music, entertainment",https://ichef.bbci.co.uk/images/ic/352x198/p0b...,https://ichef.bbci.co.uk/images/ic/1200x675/p0...,tom holland greg james cold call celebrity fri...,7

In [8]:
df_user_activity.head(3)

   content_id activity  user_id  rating                   datetime
0        2387  watched        1       8 2022-04-01 11:53:07.317820
1        2446  watched        1       8 2022-04-01 11:53:07.317846
2        1869  watched        1       9 2022-04-01 11:53:07.317850

In [12]:
df_colab

,0,1,2,3,4,5,6,7,8,9,...,2463,2464,2465,2466,2467,2468,2469,2470,2471,2472
0,2.749695,4.047272,0.941226,3.586765,4.462734,4.877353,1.511387,2.410278,5.641886,7.003099,...,2.268970,3.590198,5.884356,9.347645,4.984092,2.701607,2.680396,6.293361,4.752721,4.142768
1,2.687126,4.113308,0.939722,3.713906,4.338429,4.871265,1.518961,2.498072,5.724820,7.051456,...,2.271878,3.637414,5.937133,9.504561,5.012028,2.655116,2.835801,6.311259,4.813359,4.195113
2,2.437312,4.008444,0.989521,4.285539,3.857944,4.311255,1.523472,3.277961,5.996644,7.075305,...,2.498161,4.066669,5.799774,10.002677,4.972354,2.281055,2.778381,6.177082,5.088641,3.921386
3,2.612470,3.694550,1.073434,4.276093,4.189551,3.969281,1.535685,3.630949,5.998695,7.066016,...,2.766368,4.337342,5.581343,9.949933,4.946094,2.254846,2.003803,6.154934,5.181582,3.522808

In [18]:
user_movie_dict

{0: array([2387, 2446, 1869, 1765, 1920, 2379,  943, 1726, 1280,  815,  281,
         323,  227,  311,  312,  292,  214,  296, 1969,  218, 1779, 1955,
        1634, 1686, 2122, 2118, 1991, 2129, 1675, 2145,  387,  369,  460,
        1784,  433,  414,  432,  357,  470,  427,  425,  401,  380,  372,
         344,  378,  381,  361,  442,  417, 1809, 1856, 1871, 1945, 1818,
         859, 1886, 1860, 1852, 1875, 1537, 1430, 1396, 1470, 1462, 1467,
        1417, 1411, 1465, 1447]),
 1: array([2051,  738,  648,  758,  700,  685,  713, 1613,  658,  678, 1305,
        1318, 1370,  640, 1298, 1294,  776, 1364,  649, 1310,  799, 2082,
          96, 1692, 1773, 2098, 1604, 2080, 2104,  734, 1012, 1999, 1088,
        1078, 1043, 1028, 1038, 1032, 1943,  646, 1807, 1904, 1862, 1822,
        1826, 1880, 1850, 1792, 1836, 1945, 1018]),
 2: array([ 276,  148, 2466, 2003,  106,  419, 2411, 2303,  921, 1583,  932,
         914,  962,  456,  974,  832,  867,  960,  803,  999,  759,  636,
         761, 1865, 1830, 1880, 1857, 1813, 1909, 1847, 1841, 1855, 1914,
        1018, 1462, 1470, 1553, 1430, 1411, 1417, 1396, 1527, 1467, 1537]),
 3: array([1357, 1343, 1335, 1321,  669, 1326, 1327, 1368, 1300, 1319, 2246,
         142,  484,  594,  502,  590,  606,  298,  234,  324,  636,  759,
         761, 1822, 1907, 1798, 1891, 1812, 1912, 1865, 1850, 1800, 1804,
        2011, 1530, 1521, 1385, 1469, 1475, 1546, 1474, 1513, 1514])}

In [19]:
for user, movie in user_movie_dict.items():
    df_colab.loc[user, movie] = 0

In [27]:
df_colab.T[0].sort_values(ascending=False)

1865    10.386962
974     10.240006
2303    10.116850
738     10.115595
799     10.051114
          ...
2387     0.000000
1430     0.000000
1869     0.000000
1871     0.000000
1634     0.000000
Name: 0, Length: 2473, dtype: float64