In [1]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv(f'bbc_small.csv', index_col=0, delimiter=';')
df_cosine = pd.read_csv(f'bbc_cosine_small.csv', index_col=0, delimiter=';')
with open(f'collaborative_filtering/collab_filter_random_features.npy', 'rb') as f:
    numpy_colab_matrix = np.load(f)
df_colab = pd.DataFrame(numpy_colab_matrix)

In [19]:
df_cosine

,0,1,2,3,4,5,6,7,8,9,...,2463,2464,2465,2466,2467,2468,2469,2470,2471,2472
0,1.000000,0.017138,0.000000,0.014938,0.027364,0.108092,0.028579,0.133374,0.029517,0.000000,...,0.000000,0.000000,0.010969,0.011114,0.000000,0.000000,0.015148,0.078643,0.000000,0.020138
1,0.017138,1.000000,0.000000,0.124017,0.018052,0.003390,0.049918,0.048575,0.018918,0.000000,...,0.000000,0.000000,0.000000,0.003028,0.000000,0.005860,0.000000,0.013066,0.131764,0.011039
2,0.000000,0.000000,1.000000,0.000000,0.000000,0.089031,0.000000,0.024758,0.015056,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.011730,0.060319,0.009731,0.000000
3,0.014938,0.124017,0.000000,1.000000,0.004501,0.008006,0.009224,0.028847,0.006662,0.085284,...,0.000000,0.000000,0.000000,0.011499,0.000000,0.000000,0.000000,0.030853,0.287673,0.006592
4,0.027364,0.018052,0.000000,0.004501,1.000000,0.011410,0.018659,0.028506,0.024186,0.003457,...,0.004644,0.014201,0.013220,0.010136,0.111495,0.000000,0.025265,0.047036,0.002389,0.037674
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2468,0.000000,0.005860,0.000000,0.000000,0.000000,0.013219,0.004256,0.022604,0.000000,0.000000,...,0.014349,0.023401,0.000000,0.007389,0.000000,1.000000,0.018303,0.008240,0.008550,0.038546
2469,0.015148,0.000000,0.011730,0.000000,0.025265,0.018788,0.002634,0.006407,0.018951,0.000000,...,0.033063,0.048845,0.000000,0.031561,0.025864,0.018303,1.000000,0.038243,0.000000,0.042264
2470,0.078643,0.013066,0.060319,0.030853,0.047036,0.039358,0.009078,0.094621,0.054468,0.000000,...,0.025582,0.020342,0.011328,0.012224,0.000000,0.008240,0.038243,1.000000,0.000000,0.066518
2471,0.000000,0.131764,0.009731,0.287673,0.002389,0.009463,0.008239,0.063299,0.012455,0.000000,...,0.000000,0.000000,0.000000,0.002986,0.000000,0.008550,0.000000,0.000000,1.000000,0.000000
2472,0.020138,0.011039,0.000000,0.006592,0.037674,0.038907,0.024911,0.039035,0.141876,0.005063,...,0.089726,0.000000,0.009681,0.035734,0.000000,0.038546,0.042264,0.066518,0.000000,1.000000

In [20]:
df_colab

,0,1,2,3,4,5,6,7,8,9,...,2463,2464,2465,2466,2467,2468,2469,2470,2471,2472
0,2.749695,4.047272,0.941226,3.586765,4.462734,4.877353,1.511387,2.410278,5.641886,7.003099,...,2.268970,3.590198,5.884356,9.347645,4.984092,2.701607,2.680396,6.293361,4.752721,4.142768
1,2.687126,4.113308,0.939722,3.713906,4.338429,4.871265,1.518961,2.498072,5.724820,7.051456,...,2.271878,3.637414,5.937133,9.504561,5.012028,2.655116,2.835801,6.311259,4.813359,4.195113
2,2.437312,4.008444,0.989521,4.285539,3.857944,4.311255,1.523472,3.277961,5.996644,7.075305,...,2.498161,4.066669,5.799774,10.002677,4.972354,2.281055,2.778381,6.177082,5.088641,3.921386
3,2.612470,3.694550,1.073434,4.276093,4.189551,3.969281,1.535685,3.630949,5.998695,7.066016,...,2.766368,4.337342,5.581343,9.949933,4.946094,2.254846,2.003803,6.154934,5.181582,3.522808

In [25]:
df_cosine.loc[3]

0       0.014938
1       0.124017
2       0.000000
3       1.000000
4       0.004501
          ...
2468    0.000000
2469    0.000000
2470    0.030853
2471    0.287673
2472    0.006592
Name: 3, Length: 2473, dtype: float64

In [36]:
np1 = np.array(df_colab.loc[0].tolist())

In [37]:
np2 = np.array(df_cosine.loc[3].tolist())

In [38]:
hybrid = np.multiply(np1, np2)

In [43]:
pd.DataFrame(hybrid).sort_values(by=0, ascending=False)

             0
3     3.586765
1396  2.346463
2131  2.054855
2104  1.980688
88    1.906209
...        ...
1164  0.000000
1163  0.000000
1162  0.000000
1161  0.000000
1480  0.000000

[2473 rows x 1 columns]

In [21]:
def most_similar_collab_content(df, df_cosine, df_colab, user_movie_dict, user_id, index):
    cosin_np = np.array(df_colab.loc[user_id].tolist())
    colab_np = np.array(df_cosine.loc[index].tolist())
    hybrid_solution = np.multiply(cosin_np, colab_np)
    recom_indices = pd.DataFrame(hybrid_solution).sort_values(by=0, ascending=False).index.tolist()[1:c.RECOM_COUNT]
    recom_entries = df.loc[list(map(int, recom_indices)), :]
    return recom_entries